<div>
  <a href="/"><img src="/lunchlogo.png" alt="Your Lunch" class="logo"></a>

    <ul class="vbar">
        <li class="vlist"><a href="../manager/addfood">Add to Menu</a></li>
        <li class="vlist"><a href="../manager/updatefood">Update Food </a></li>
        <li class="vlist"><a href="#">View All Orders</a></li>
      </ul>
</div>