<div>

    <ul class="vbar">
        <li class="vlist"><a href="../manager/addfood">Add to Menu</a></li>
        <li class="vlist"><a href="../manager/updatefood:menuId">Update Food </a></li>
        <li class="vlist"><a href="../admin/allorders">View All Orders</a></li>
      </ul>
</div>