

<div>

    <ul class="vbar">
      <a href="/"><img src="/lunchlogo.png" alt="Your Lunch" class="logo"></a>

        <li class="vlist"><a href="../admin/adduser">Add User</a></li>
        <li class="vlist"><a href="../admin/allusers">View All users</a></li>
        <li class="vlist"><a href="../admin/allorders">All Orders</a></li>
        <li class="vlist"><a href="../admin/coupons">Coupons</a></li>
      </ul>
</div>


