

<div>
    <ul class="vbar">
        <li class="vlist"><a href="../admin/adduser">Add User</a></li>
        <li class="vlist"><a href="../admin/allusers">View All users</a></li>
        <li class="vlist"><a href="../admin/allorders">View All Orders</a></li>
      </ul>
</div>


