.allusersDiv {
    display: flex;
    justify-content: center;
    text-align: center;
}

.allusers {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px  200px;
    border: 1px sold black;
    margin: 20px;
    
}
.adduserbtn {
    float: right;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    margin-right: 15px;
    background-color: #5f5f6e;
    margin-top: 5px;
    color: whitesmoke;
}

.tDiv {
    display: flex;
    justify-content: center;
    margin: 2px 0px 20px;
}

tr, td {
    padding: 10px 30px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
table, th, td {
    border: 1px solid black;
}
