<%- include("../partials/top") %>
<%- include("../partials/header") %>

<h1 class="chechoutHeader">Checkout Form</h1>
<div class="checkoutDiv">
   

  <div class="billing">

    <div class="address" style="font-size: larger;">
        <form action="" class="billingForm">
            <h3 style="font-weight: bolder;">Delivery Infomation</h3>
<!--  -->

        </form>
    </div>

    <div class="payment">

        <h3 style="font-weight: bolder;">Payment Options</h3>

          <form action="/food/createorder" method="POST" class="payForm">

              <input type="radio" id="male" name="pay" value="cash">
              <label for="mtn">Cash on Delivery</label><br>
              <input type="radio" id="tigo" name="pay" value="momo">
              <label for="tigo">Mobile Money</label><br>
              <input type="radio" id="voda" name="pay" value="tigo">
              <label for="tigo">Coupon</label>
              <input type="text" placeholder="Enter Coupon code " name="code"> 
              <form action="/food/checkcoupon " method="GET">
                <button type="submit" class="btn">Check Validity</button>
            </form>
              <br><br>
              <form action="" method="#">
                <button type="submit" value="" class="orderbtn"> Complete Order</button>
              </form>
            
        </form> 





    </div>
  </div>


</div>


<%- include("../partials/bottom") %>