<%- include("../partials/top") %>
<%- include("../partials/header") %>
<%- include("../partials/mandash") %>

<div class="viewordersDiv">
    <h2 class="orderSumHeader">Order Summary</h2>
    <div class="orderSum">

        
        <div> <h3>Add orders</h3></div>
        <div> <h3>Approved orders</h3></div>
        <div> <h3>Cancelled orders</h3></div>

        <div> <h3> 25 </h3></div>
        <div> <h3> 25 </h3></div>
        <div> <h3> 2 </h3></div>

    </div>

    <br> <b><br></b>


    <h2 class="breakdownHeader">Order Breakdown</h2>
    <div class="breakdown">

        <div> <h3>Food</h3></div>
        <div> <h3>Quantity</h3></div>

        <div> <h3> Fried Rice</h3></div>
        <div> <h3> 6 </h3></div>

        <div> <h3> Plain Rice</h3></div>
        <div> <h3> 12 </h3></div>

        <div> <h3> Fufue</h3></div>
        <div> <h3> 7 </h3></div>

    </div>
</div>